<%- include('partials/header.ejs'); -%>

    <h1>About</h1>
    <p class="welcomemessagep">Our website is easy to use and designed to help you get the most out of your meetings. Whether you're a team leader, project manager, or entrepreneur, Meeting  Memories is the perfect tool for keeping your meetings organized and productive.</p>
    <p class="welcomemessagep">Join Memory Meetings today and take the first step towards more efficient and productive meetings!</p>

<%- include('partials/footer.ejs'); %>
