<%- include('partials/header.ejs'); -%>

<h1>Schedule</h1>

<form class="" action="/schedule" method="post">
  <div class="form-group">
    <label for="FormControlInput1">Title</label>
    <input class="form-control" id="FormControlInput1" name="meetingTitle">
  </div>

  <div class="form-group">
    <label for="FormControlInput2">Date</label>
    <input class="form-control" type="date" id="FormControlInput2" name="meetingDate">
  </div>

  <div class="form-group">
    <label for="FormControlInput3">Heure</label>
    <input class="form-control" type="time" id="FormControlInput3" name="meetingTime">
  </div>

  <div class="form-group">
    <label for="FormControlInput4">Lieu</label>
    <input class="form-control" id="FormControlInput4" name="meetingLocation">
  </div>

  <div class="form-group">
    <div id="participants-container">
      <label for="participant-1">Participant 1:</label>
      <input type="text" id="participant-1" name="participant-1"><br><br>
      <label for="participant-2">Participant 2:</label>
      <input type="text" id="participant-2" name="participant-2"><br><br>
    </div>
    <button type="button" id="add-participant-btn" class="btn btn-secondary">Add Participant</button><br><br>
  </div>

  <script>
    let i = 3;
    document.getElementById("add-participant-btn").addEventListener("click", function() {
      let container = document.getElementById("participants-container");
      let inputs = container.getElementsByTagName("input");
      let lastInput = inputs[inputs.length - 1];
      let id = lastInput.id;
      let number = parseInt(id.substr(id.length - 1)) + 1;
      container.insertAdjacentHTML("beforeend", "<label for='participant-" + number + "'>Participant " + number + ":</label><input type='text' id='participant-" + number + "' name='participant-" + number + "'><br><br>");
      i++;
    });
    // Function to update the meetingParticipants array
    function updateMeetingParticipants() {
      meetingParticipants = [];
      let inputs = document.querySelectorAll("[name^='participant-']");
      for (let input of inputs) {
        meetingParticipants.push(input.value);
      }
      console.log(meetingParticipants);
    }

    // Add an event listener to each input to update the array on change
    let inputs = document.querySelectorAll("[name^='participant-']");
    for (let input of inputs) {
      input.addEventListener("change", updateMeetingParticipants);
    }
  </script>

  <div class="form-group">
    <label for="FormControlTextarea2">Ordre du jour</label>
    <textarea class="form-control" id="FormControlTextarea2" rows="5" name="meetingAgenda"></textarea>
  </div>

  <button type="submit" name="button" class="btn btn-primary">Schedule meeting</button>
</form>

<%- include('partials/footer.ejs'); %>
