<%- include('partials/header.ejs'); -%>

<h1>Schedule</h1>

<form class="" action="/schedule" method="post">
  <div class="form-group">
    <label for="FormControlInput1">Title</label>
    <input class="form-control" id="FormControlInput1" name="meetingtitle">
  </div>

  <div class="form-group">
    <label for="FormControlInput2">Date</label>
    <input class="form-control" type="date" id="FormControlInput2" name="meetingdate">
  </div>
  
  <div class="form-group">
    <label for="FormControlTextarea3">Participants</label>
    <textarea class="form-control" id="FormControlTextarea3" rows="5" name="meetingparticipants"></textarea>
  </div>

  <div class="form-group">
    <label for="FormControlTextarea4">Description</label>
    <textarea class="form-control" id="FormControlTextarea4" rows="5" name="meetingdescription"></textarea>
  </div>

  <button type="submit" name="button" class="btn btn-primary">Schedule meeting</button>
</form>

<%- include('partials/footer.ejs'); %>
